.container {
  width: 1000px;

  & .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    & .text {
      color: #8c8a84;
      font-size: 18px;
    }

    & .icon {
      width: 20px;
      height: 20px;
      cursor: pointer;
    }
  }

  .content {
    display: flex;
    gap: 20px;
  }

  & .spinner {
    border-color: #8c8a84;
    border-bottom-color: transparent;
    width: 100%;
    text-align: center;
  }
}
